/access.log
/bin
/x-ui
/x-ui.service.debian
/x-ui.service.rhel
/x-ui.sh
/logs/
.env
welcome.jpg
bot/.env
bot/welcome.jpg
.trae/rules
bot/venv/
/.venv/
**/__pycache__/
*.db
.DS_Store
*.log
.husky
/.trae
/.mypy_cache
/.pytest_cache
/.ruff_cache
/node_modules
.gitignore
/.github
